Repository googleapis/nodejs-compute, pull requests merged in 2021-12, with the labels that each got.

#650 chore(samples): add custom hostname instances samples
  samples/custom-hostname-instance/createInstanceWithCustomHostname.js
  samples/custom-hostname-instance/getInstanceHostname.js
  samples/test/customHostnameInstance.test.js
Labels: cla: yes, api: compute, samples

#656 chore(samples): enum usage
  samples/createInstance.js
  samples/createInstanceFromTemplateWithOverrides.js
  samples/custom-hostname-instance/createInstanceWithCustomHostname.js
  samples/firewall/createFirewallRule.js
  samples/firewall/patchFirewallPriority.js
  samples/getUsageExportBucket.js
  samples/setUsageExportBucket.js
Labels: api: compute, samples

#659 chore: add api_shortname and library_type to repo metadata
  .repo-metadata.json
  README.md
  linkinator.config.json
Labels: api: compute
