Repository googleapis/nodejs-compute, pull requests merged in 2021-06, with the labels that each got.

#560 feat(samples): Adding code samples and tests for them
  samples/createInstance.js
  samples/deleteInstance.js
  samples/listAllInstances.js
  samples/listInstances.js
  samples/mailjet.js
  samples/package.json
  samples/quickstart.js
  samples/sendgrid.js
  samples/system-test/sample.test.js
  samples/test/.eslintrc
  samples/test/mailjet.test.js
  samples/test/samples.test.js
  samples/test/sendgrid.test.js
  samples/waitForOperation.js
Labels: api: compute, cla: yes, kokoro:run, samples

#568 docs(readme): diregapic release
  README.md
  samples/README.md
Labels: api: compute, cla: yes

#569 fix(samples): add text remarks and fixes
  README.md
  samples/createInstance.js
  samples/deleteInstance.js
  samples/listAllInstances.js
  samples/listInstances.js
  samples/test/samples.test.js
  samples/waitForOperation.js
Labels: api: compute, cla: yes, samples

#575 docs(samples): add default-value sample
  samples/createInstance.js
  samples/defaultValues.js
  samples/deleteInstance.js
  samples/listAllInstances.js
  samples/listInstances.js
  samples/package.json
  samples/test/samples.test.js
  samples/waitForOperation.js
Labels: api: compute, cla: yes, samples

#581 chore: adds library_type to repo metadata
  .repo-metadata.json
Labels: api: compute, automerge, cla: yes

#539 feat: Adding implementation of startWithEncryptionKey api call
  src/vm.js
  test/vm.js
Labels: api: compute, cla: yes
