Repository googleapis/nodejs-compute, pull requests merged in 2021-11, with the labels that each got.

#644 chore(cloud-rad): delete api-extractor config
  api-extractor.json
Labels: cla: yes, automerge, api: compute

#640 chore(docs): create instance from template samples
  README.md
  samples/README.md
  samples/createInstanceFromTemplate.js
  samples/createInstanceFromTemplateWithOverrides.js
  samples/test/samples.test.js
Labels: cla: yes, api: compute, samples

#646 test: retry flaky firewall tests
  linkinator.config.json
  samples/firewall/createFirewallRule.js
  samples/firewall/deleteFirewallRule.js
  samples/firewall/listFirewallRules.js
  samples/firewall/patchFirewallPriority.js
  samples/test/samples.test.js
Labels: cla: yes, api: compute, owlbot:ignore

#629 tests: add tests for cap letter field, int64 type field (compute)
  system-test/compute.js
Labels: cla: yes, api: compute
