Repository googleapis/nodejs-compute, pull requests merged in 2022-06, with the labels that each got.

#735 chore(samples): add suspend/resume samples
  samples/instances/suspend-resume/resume.js
  samples/instances/suspend-resume/suspend.js
  samples/test/suspendResume.test.js
Labels: api: compute, samples, size: l

#732 chore(samples): add preemptible vm samples
  samples/instances/preemptible/createPreemptible.js
  samples/instances/preemptible/preemptionHistory.js
  samples/instances/preemptible/printPreemptible.js
  samples/test/preemptible.test.js
Labels: api: compute, samples, size: l

#741 chore(samples): minor changes in a sample comment
  samples/instances/suspend-resume/suspend.js
Labels: api: compute, samples, size: xs

#748 test: additional retries for system tests
  system-test/compute.js
Labels: api: compute, size: xs
