Repository googleapis/nodejs-compute, pull requests merged in 2022-03, with the labels that each got.

#696 chore(samples): add delete protection samples
  samples/instances/preventing-accidental-vm-deletion/createInstance.js
  samples/instances/preventing-accidental-vm-deletion/getDeleteProtection.js
  samples/instances/preventing-accidental-vm-deletion/setDeleteProtection.js
  samples/test/preventAccidentalVMDeletion.test.js
Labels: api: compute, samples

#695 chore(samples): add create instance templates samples
  samples/create-instance-templates/createTemplate.js
  samples/create-instance-templates/createTemplateFromInstance.js
  samples/create-instance-templates/createTemplateWithSubnet.js
  samples/create-instance-templates/deleteInstanceTemplate.js
  samples/create-instance-templates/getInstanceTemplate.js
  samples/create-instance-templates/listInstanceTemplates.js
  samples/test/createInstanceTemplates.test.js
Labels: api: compute, samples

#661 tests: remove int64 field test
  system-test/compute.js
Labels: automerge, api: compute

#703 chore(samples): create windows images samples
  samples/instances/windows/creatingWindowsOSImage.js
  samples/test/creatingWindowsOSImage.test.js
Labels: api: compute, samples

#704 chore(samples): add creating managing windows instances samples
  samples/instances/windows/creating-managing-windows-instances/createFirewallRuleForWindowsActivationHost.js
  samples/instances/windows/creating-managing-windows-instances/createRouteToWindowsActivationHost.js
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceExternalIP.js
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceInternalIP.js
  samples/instances/windows/creating-managing-windows-instances/getInstanceSerialPort.js
  samples/test/creatingManagingWindows.test.js
Labels: kokoro:run, api: compute, samples

#705 chore(samples): add test comments
  samples/instances/windows/creating-managing-windows-instances/createFirewallRuleForWindowsActivationHost.js
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceExternalIP.js
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceInternalIP.js
  samples/instances/windows/creating-managing-windows-instances/getInstanceSerialPort.js
Labels: api: compute, samples
