Repository googleapis/nodejs-compute, pull requests merged in 2022-05, with the labels that each got.

#719 chore(samples): fix function name
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceExternalIP.js
  samples/instances/windows/creating-managing-windows-instances/createWindowsServerInstanceInternalIP.js
Labels: api: compute, samples, size: xs

#729 build: update library to use Node 12
  .kokoro/continuous/node10/common.cfg
  .kokoro/continuous/node10/docs.cfg
  .kokoro/continuous/node10/test.cfg
  .kokoro/continuous/node8/common.cfg
  .kokoro/continuous/node8/test.cfg
  .kokoro/presubmit/node10/common.cfg
  .kokoro/presubmit/node10/docs.cfg
  .kokoro/presubmit/node10/lint.cfg
  .kokoro/presubmit/node10/test.cfg
  .kokoro/presubmit/node8/common.cfg
  .kokoro/presubmit/node8/test.cfg
  package.json
  samples/package.json
Labels: api: compute, size: m

#730 chore(system-test): add retry and delay for flaky test
  system-test/compute.js
Labels: api: compute, size: s
