Repository googleapis/nodejs-compute, pull requests merged in 2022-07, with the labels that each got.

#756 docs(samples): do not try creating an instance if it already exists
  samples/test/createStartInstance.test.js
Labels: api: compute, samples, size: m

#747 chore(samples): add moving instances between zones samples
  README.md
  samples/README.md
  samples/disks/createDiskFromSnapshot.js
  samples/disks/createEmptyDisk.js
  samples/disks/deleteDisk.js
  samples/disks/setDiskAutodelete.js
  samples/getInstance.js
  samples/instances/create-start-instance/createInstanceWithExistingDisks.js
  samples/snapshots/createSnapshot.js
  samples/snapshots/deleteSnapshot.js
  samples/test/createStartInstance.test.js
  samples/test/disks.test.js
  samples/test/samples.test.js
  samples/test/snapshots.test.js
Labels: api: compute, samples, size: xl

#742 chore(samples): add custom machine type samples
  samples/instances/custom-machine-type/createCustomMachineType.js
  samples/instances/custom-machine-type/createSharedWithMemory.js
  samples/instances/custom-machine-type/createWithHelper.js
  samples/instances/custom-machine-type/createWithoutHelper.js
  samples/instances/custom-machine-type/extraMemWithoutHelper.js
  samples/instances/custom-machine-type/helperClass.js
  samples/instances/custom-machine-type/updateMemory.js
  samples/test/customMachineType.test.js
Labels: api: compute, samples, size: xl

#766 build: add more retries for flaky test
  system-test/compute.js
Labels: api: compute, size: xs
